<!doctype html>
<html lang="en">

{include file="common/head"/}

<body class="theme-blue">
	<!-- WRAPPER -->
	<div id="wrapper">
		<div class="vertical-align-wrap">
			<div class="vertical-align-middle auth-main">
				<div class="auth-box" >
                    <div class="mobile-logo"><a href="index.html"><img src="__STATIC__/images/logo-icon.svg" alt="Mplify"></a></div>
                    <div class="auth-left">
                        <div class="left-top">
                            <a href="index.html">
                                <img src="__STATIC__/images/logo-icon.svg" alt="中橡狼牌轮胎">
                                <span>中橡狼牌轮胎</span>
                            </a>
                        </div>
                        <div class="left-slider">
                            <img src="__STATIC__/images/login/1.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="auth-right" ">
         <!--                <div class="right-top">
                            <ul class="list-unstyled clearfix d-flex">
                                <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                                <li><a href="javascript:void(0);">Help</a></li>
                                <li><a href="javascript:void(0);">Contact</a></li>
                            </ul>
                        </div> -->
                        <div class="card">
                            <div class="header">
                                <p class="lead">系统登陆</p>
                            </div>
                            <div class="body">
                                <form class="form-auth-small" action="" method="post">
                                    <div class="form-group">
                                        <label for="username" class="control-label sr-only">用户名</label>
                                        <input type="text" class="form-control" id="username" name="username" value="" placeholder="用户名">
                                    </div>
                                    <div class="form-group">
                                        <label for="signin-password" class="control-label sr-only">密码</label>
                                        <input type="password" class="form-control" id="signin-password" value="" name="password" placeholder="密码">
                                    </div>
                                           <div class="form-group clearfix">
                                        <label for="captcha" class="control-label sr-only" >验证码</label>
                                        <input type="text" class="form-control" name="captcha" placeholder="验证码" style="width: 150px;float: left;"> 
                                        <img src="{:captcha_src()}" alt="captcha"  onclick="this.src='{:captcha_src()}?'+Math.random();"  style="float: left;margin-left: 20px;" />
                                    </div>
                                     
                                    <div class="form-group clearfix">
                                        <label class="fancy-checkbox element-left">
                                            <input type="checkbox">
                                            <span>记住密码</span>
                                        </label>								
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
                                    <div class="bottom">                                       
                                        <span>如果没有帐号、或忘记密码请联系管理员</span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- END WRAPPER -->
</body>
</html>
