<!-- Javascript -->
<script src="__STATIC__/bundles/libscripts.bundle.js"></script>    
<script src="__STATIC__/bundles/vendorscripts.bundle.js"></script>

<script src="__STATIC__/bundles/knob.bundle.js"></script> 
<!-- 

<script src="__STATIC__/bundles/chartist.bundle.js"></script>
<script src="__STATIC__/bundles/flotscripts.bundle.js"></script>
<script src="__STATIC__/js/dialog.js"></script> 
<script src="__STATIC__/vendor/flot-charts/jquery.flot.selection.js"></script> -->
<script src="__STATIC__/bundles/mainscripts.bundle.js"></script>
<script src="__STATIC__/assets/js/index.js"></script>
<script src="__STATIC__/js/num.js"></script>
<script src="__STATIC__/vendor/layer/layer.js"></script>

<script src="__STATIC__/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>  
<script src="__STATIC__/vendor/jquery-inputmask/jquery.inputmask.bundle.js"></script>     
<script src="__STATIC__/assets/bundles/morrisscripts.bundle.js"></script>
<script src="__STATIC__/assets/js/pages/forms/advanced-form-elements.js"></script>