<head>
<title>:: 中橡狼牌轮胎 :: </title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="description" content="中橡狼牌轮胎 仓库管理系统">
<meta name="author" content="系统制作, design by: 谷川">

<link rel="icon" href="favicon.ico" type="image/x-icon">
<!-- VENDOR CSS -->
<link rel="stylesheet" href="__STATIC__/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="__STATIC__/vendor/animate-css/animate.min.css">
<link rel="stylesheet" href="__STATIC__/vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="__STATIC__/vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css">
<link rel="stylesheet" href="__STATIC__/vendor/chartist/css/chartist.min.css">
<link rel="stylesheet" href="__STATIC__/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
<link rel="stylesheet" href="__STATIC__/vendor/bootstrap-multiselect/bootstrap-multiselect.css">
<link rel="stylesheet" href="__STATIC__/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
<link rel="stylesheet" href="__STATIC__/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />
<link rel="stylesheet" href="__STATIC__/vendor/multi-select/css/multi-select.css">
<link rel="stylesheet" href="__STATIC__/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css">
<link rel="stylesheet" href="__STATIC__/vendor/nouislider/nouislider.min.css" />
<!-- MAIN CSS -->
<link rel="stylesheet" href="__STATIC__/css/main.css">
<link rel="stylesheet" href="__STATIC__/css/color_skins.css"></head>



